# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Creating data farmes
school_df=school_data
student_df=student_data
combined_df=school_data_complete

combined_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools


* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#create a DataFrame for 
District={}

District=pd.DataFrame()

In [5]:
# Calculare the total number of schools
District["Total Schools"] =[school_df.school_name.value_counts().sum()]
print(District)

   Total Schools
0             15

In [6]:
# Calculate the total number of students
District["Total Students"] = [school_df["size"].sum()]
print(District)

   Total Schools  Total Students
0             15           39170

In [7]:
# Calculate the total budget
District["Total Budget"]=[school_df["budget"].sum()]
print(District)

   Total Schools  Total Students  Total Budget
0             15           39170      24649428

In [8]:
#Calculate the average math score
District["Average Math Score"]=[student_df["math_score"].mean()]
print(District)

   Total Schools  Total Students  Total Budget  Average Math Score
0             15           39170      24649428           78.985371

In [9]:
#Calculate the average reading score
District["Average Reading Score"]=[student_df["reading_score"].mean()]
print(District)

   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score
0               81.87784

In [10]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
#passing grade is 70%
Total_Students=len(student_df["Student ID"])
avg_math_score=len(student_df[student_df["math_score"] >= 70])/ Total_Students
avg_reading_score=len(student_df[student_df["reading_score"] >= 70])/ Total_Students

overall_passing_rate=(avg_math_score+avg_reading_score)/2
print(overall_passing_rate)

0.8039315802910391

In [15]:
# Calculate the percentage of students with a passing math score (70 or greater)
District["%Passing Math"]=len(student_df[student_df["math_score"] >= 70])/ Total_Students

In [17]:
#Calculate the percentage of students with a passing reading score (70 or greater)
District["%Passing Reading"]=len(student_df[student_df["reading_score"] >= 70])/ Total_Students

In [18]:
#overall
District["%Overall Passing Rate"]=[overall_passing_rate]

In [19]:
#Create a dataframe to hold the above results
Districts=pd.DataFrame(District)
print(Districts)

   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score  %Passing Math  %Passing Reading  \
0               81.87784       0.749809          0.858055

   %Overall Passing Rate
0               0.803932

In [20]:
#Optional: give the displayed data cleaner formatting
Districts.style.format({"Total Budget": "${:,.2f}",
                      "%Passing Math": "{:.1%}","%Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})

Districts

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [25]:
#Create an overview table that summarizes key metrics about each school, including:

#School Name Grouping
School_Name = combined_df.set_index('school_name').groupby(['school_name'])

#School Type Grouping
School_Type = school_df.set_index('school_name')['type']

#Calculating Total Students
Total_Students = combined_df.groupby("school_name")['Student ID'].count()

#Calculating Total School Budget
School_Budget = school_df.set_index('school_name')['budget']

#Calculating Per Student Budget
Student_Budget = school_df.set_index('school_name')['budget']/school_df.set_index('school_name')['size']

#Average Math Score
avg_math_score = School_Name['math_score'].mean()

#Average Reading Score
avg_reading_score=School_Name['reading_score'].mean()

#%Passing Math
passing_math_score = combined_df[combined_df['math_score']>=70].groupby('school_name')['Student ID'].count()/Total_Students

#%Passing Reading
passing_reading_score = combined_df[combined_df['reading_score']>=70].groupby('school_name')['Student ID'].count()/Total_Students

#Overall Passing Rate (Average of the above two)
overall_passing_rate = (passing_math_score+passing_reading_score)/2

In [26]:
#Create a dataframe to hold the above results
school_summary = pd.DataFrame({
    "School Type": School_Type,
    "Total Students": Total_Students,
    "Per Student Budget": Student_Budget,
    "Total School Budget": School_Budget,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    '% Passing Math': passing_math_score,
    '% Passing Reading': passing_reading_score,
    "Overall Passing Rate": overall_passing_rate
})

In [27]:
#styling and formatting School Summary Output
school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]

school_summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [28]:
top_five_schools=school_summary.sort_values("Overall Passing Rate", ascending = False)

top_five_schools.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

top_five_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [29]:
#Select the bottom 5 schools
bottom_five_schools=school_summary.sort_values("Overall Passing Rate", ascending = True)

In [30]:
#Sort from worst to better amont the bottom 5
bottom_five_schools = bottom_five_schools.sort_values('Overall Passing Rate')

In [31]:
bottom_five_schools.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

bottom_five_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [32]:
#Create a table that lists the average Math Score = Grade 9 and group by school
ninth_math_scores = student_df.loc[student_df['grade']=='9th'].groupby('school_name')["math_score"].mean()

In [33]:
#Create a table that lists the average Math Score = Grade 10 and group by school
tenth_math_scores = student_df.loc[student_df['grade']=='10th'].groupby('school_name')["math_score"].mean()

In [34]:
#Create a table that lists the average Math Score = Grade 11 and group by school
eleventh_math_scores = student_df.loc[student_df['grade']=='11th'].groupby('school_name')["math_score"].mean()

In [35]:
#Create a table that lists the average Math Score = Grade 12 and group by school
twelveth_math_scores = student_df.loc[student_df['grade']=='12th'].groupby('school_name')["math_score"].mean()

In [36]:
#Combine the series into a dataframe
math_scores = pd.DataFrame({
        "9th": ninth_math_scores,
        "10th": tenth_math_scores,
        "11th": eleventh_math_scores,
        "12th": twelveth_math_scores
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

In [37]:
#Optional: give the displayed data cleaner formatting
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [38]:
#Create a table that lists the average Reading Score = Grade 9 and group by school
ninth_reading_scores = student_df.loc[student_df['grade']=='9th'].groupby('school_name')["reading_score"].mean()

In [39]:
#Create a table that lists the average Reading Score = Grade 10 and group by school
tenth_reading_scores = student_df.loc[student_df['grade']=='10th'].groupby('school_name')["reading_score"].mean()

In [40]:
#Create a table that lists the average Reading Score = Grade 11 and group by school
eleventh_reading_scores = student_df.loc[student_df['grade']=='11th'].groupby('school_name')["reading_score"].mean()

In [41]:
#Create a table that lists the average Reading Score = Grade 12 and group by school
tweleveth_reading_scores = student_df.loc[student_df['grade']=='12th'].groupby('school_name')["reading_score"].mean()

In [42]:
#Combine the series into a dataframe
reading_scores = pd.DataFrame({
        "9th": ninth_reading_scores,
        "10th": tenth_reading_scores,
        "11th": eleventh_reading_scores,
        "12th": tweleveth_reading_scores
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

In [43]:
#Optional: give the displayed data cleaner formatting
reading_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [44]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [45]:
combined_df['spending_bins'] = pd.cut(combined_df['budget']/combined_df['size'], spending_bins, labels = group_names)

In [46]:
#group by spending
group_by_spending = combined_df.groupby('spending_bins')

In [47]:
#Average Math Score
avg_math = group_by_spending['math_score'].mean()

In [48]:
#Average Reading Score
avg_read = group_by_spending['reading_score'].mean()

In [50]:
#% Passing Math
pass_math = combined_df[combined_df['math_score']>=70].groupby('spending_bins')['Student ID'].count()/group_by_spending['Student ID'].count()

In [51]:
#% Passing Reading
pass_reading = combined_df[combined_df['reading_score']>=70].groupby('spending_bins')['Student ID'].count()/group_by_spending['Student ID'].count()

In [52]:
#Overall Passing Rate (Average of the above two)
overall =(pass_math+pass_reading)/2

In [53]:
#Create Dara Frame           
scores_by_school_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_reading,
    "Overall Passing Rate": overall
    })

In [54]:
scores_by_school_spend.index.name = "Spending Ranges(Per Student)"

#formating
scores_by_school_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [55]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [56]:
combined_df['size_bins'] = pd.cut(combined_df['size'], size_bins, labels = group_names)

In [57]:
#group by spending: 
group_by_size = combined_df.groupby('size_bins')

In [58]:
#Average Math Score
avg_math = group_by_size['math_score'].mean()

In [59]:
#Average Reading Score
avg_read = group_by_size['reading_score'].mean()

In [60]:
#% Passing Math
pass_math = combined_df[combined_df['math_score']>=70].groupby('size_bins')['Student ID'].count()/group_by_size['Student ID'].count()

In [61]:
#% Passing Reading
pass_reading = combined_df[combined_df['reading_score']>=70].groupby('size_bins')['Student ID'].count()/group_by_size['Student ID'].count()

In [65]:
#Overall Passing Rate (Average of the above two)
overall = (pass_math + pass_reading)/2

In [66]:
#Create Dara Frame           
scores_by_school_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_reading,
    "Overall Passing Rate": overall
    })

In [67]:
scores_by_school_size.index.name = "School Size"

#formating
scores_by_school_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [68]:
#group by type
scores_by_type = combined_df.groupby("type")

In [69]:
#Average Math Score
avg_math = scores_by_type['math_score'].mean()

In [70]:
#Average Reading Score
avg_read = scores_by_type['reading_score'].mean()

In [71]:
#% Passing Math
pass_math = combined_df[combined_df['math_score']>=70].groupby('type')['Student ID'].count()/scores_by_type['Student ID'].count()

In [72]:
#% Passing Reading
pass_reading = combined_df[combined_df['reading_score']>=70].groupby('type')['Student ID'].count()/scores_by_type['Student ID'].count()

In [75]:
#Overall Passing Rate (Average of the above two)
overall = (pass_math + pass_reading)/2

In [76]:
#Create Dara Frame           
scores_by_school_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_reading,
    "Overall Passing Rate": overall
    })

In [77]:
scores_by_school_type.index.name = "School Type"

#formating
scores_by_school_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [ ]:
#Analysis: 
# 1)Schools larger than 2000 students have a lower overall scores than smaller schools
# 2)Charter School have higher math scores compared to District Shools
# 3)Higher rates of spending are not necesseraly associated with higher overall rates of passint standarized tests